body {
  font-family: Arial, sans-serif;
  background-color: #b3dad8;
  display: block;
}

h1 {
  color: #252323;
}

label {
  display: block;
  margin-bottom: 5px;

}

select, input {
  padding: 5px;
  border: 1px solid #e0dede;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 10px;
}
  